
.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: -1px -1px 0px -26px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px -1px 0px -26px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px -1px 0px -26px rgba(0,0,0,0.69);
}
.chartTitle{
    margin-left: 12px;
}